# Core functionality - changes here should be rare!
/src/app.py                   @medfadiabaidi
/src/backend/database.py      @medfadiabaidi
/src/backend/routers/auth.py  @medfadiabaidi

# The frontend will need refactored soon to be more object oriented.
/src/static/   @medfadiabaidi
